<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <HurtonToSubiektDesktop.Properties.Settings>
      <setting name="ServerName" serializeAs="String">
        <value>default server</value>
      </setting>
      <setting name="WindowsAuthLogin" serializeAs="String">
        <value></value>
      </setting>
      <setting name="WindowsAuthPassword" serializeAs="String">
        <value></value>
      </setting>
      <setting name="WindowsAuthEnabled" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DatabaseName" serializeAs="String">
        <value></value>
      </setting>
      <setting name="NexoLogin" serializeAs="String">
        <value></value>
      </setting>
      <setting name="NexoPassword" serializeAs="String">
        <value></value>
      </setting>
    </HurtonToSubiektDesktop.Properties.Settings>
  </userSettings>
</configuration>